html {
    background-color: #fffff0;
}

a:link, a:visited, a:active {
	position: relative;
	color: black;
	text-decoration: none;
	font-size: 20px;
	top: 10px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

a:hover {
	color: blue;
}

#main-title {
	font-family: Georgia, serif;
}

#searchBox {
	position: absolute;
	border-style: solid;
	border-width: 1px;
	font-size: 17px;
	width: 60vw;
}

.resultsList {
	padding: 1px;
}

/* search results area */
body {
	position: absolute;
}

#searchBTN {
	position: relative;
	left: 60vw;
}